body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

.zone{
    width: 20rem;
    border:3px solid black;
    text-align: center;
}

p{
    font-size: 1.8rem;
    color: black;
}

.btn{
    background-color: #960505;
    color: white;
    font-size: 1.4rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.wrap{
    display: flex;
    justify-content: space-evenly;
}

h1{
    background-color: #960505;
    color: white;
    height: 20vh;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 2rem;
}

h2{
    font-weight: 700;
    letter-spacing: 5px;
}

.console{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1.4rem;
    height: 12rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}